# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*$py.class
*.so

# ========================
# Django
# ========================
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# ========================
# Virtual Environments
# ========================
.env
.env.*
.envrc
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# ========================
# Packaging / Build
# ========================
build/
dist/
*.egg-info/
.eggs/
wheels/
sdist/
pip-wheel-metadata/

# ========================
# Testing / Coverage
# ========================
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.tox/
.nox/
nosetests.xml
coverage.xml

# ========================
# IDEs / Editors
# ========================
.idea/
.vscode/
.spyderproject
.spyproject
.ropeproject
*.swp

# ========================
# OS Files
# ========================
.DS_Store
Thumbs.db

# ========================
# Azure
# ========================
.azure/

# ========================
# GitHub
# ========================
.github/

# ========================
# Database / SQL artifacts
# ========================
*.db
*.sqlite3
*.sqlproj.user
*.dacpac
bin/
obj/

# ========================
# Misc
# ========================
.pybuilder/
.pdm-python
.pdm-build/
__pypackages__/
.mypy_cache/
.pytype/
.ruff_cache/
